.overlay {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    gap: 24px;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(3px);
    z-index: 9999;
}

.overlay.solid {
    background: rgb(255, 255, 255);
}