.logo {
    text-decoration: none;
}

.brand {
    color: var(--light-text);
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;

}

.brand i {
    font-size: 2rem;
}

.title {
    color: var(--light-text);
}