.user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    opacity: 1;
    padding: 0.5rem;
    position: absolute;
    right: 2rem;
    top: 100px;
}

.dropdown:hover {
    transform: none !important;
}

.dropdown Button {
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: none;
    padding: 0.75rem 1rem;
}

.dropdown Button:hover {
    transform: none !important;
    box-shadow: none !important;
    background: var(--primary-blue);
    color: var(--light-text);
}

.dropdown Button * {
    cursor: inherit;
    pointer-events: auto;
}

.dropdown.hidden {
    opacity: 0;
}

.exit:hover {
    background: var(--danger) !important;
}